	#style1 { font-size : 30px; 
		font-weight : bold; 
		text-align: center;
		color: #0000ff; 
background-color:antiquewhite}
	#style2 {
		text-align: center;
		font-weight : bold;
		background-color:
		}
	.style3 {
		align-content: center;
		font-weight : bold;
		text-align: center;
		background-color:
		}
