	#style1 { font-size : 30px; 
		font-weight : bold; 
		text-align: center;
		color: #0000ff; 
background-color:antiquewhite}
	#style2 {
		text-align: center;
		font-weight : bold;
		
		}
	.style3 {
		align-content: center;
		font-weight : bold;
		text-align: center;
		
		}
body {background: url(yunceng.jpg) no-repeat;background-size:cover;}
